.header {
	background: radial-gradient(
		circle,
		rgba(92, 39, 251, 1) 0%,
		rgba(112, 71, 247, 1) 100%
	);
	height: 80px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 1.2rem;
	.logo {
		color: #fff;
		justify-self: start;
		margin-left: 20px;
		cursor: pointer;
	}
	svg {
		margin-left: 0.5rem;
		font-size: 1.6rem;
	}
	.menu {
		display: grid;
		grid-template-columns: repeat(5, auto);
		grid-gap: 10px;
		list-style: none;
		text-align: center;
		width: 70vw;
		justify-content: end;
		margin-right: 2rem;
		a {
			color: #fff;
			text-decoration: none;
			padding: 0.5rem 1rem;
			&:hover {
				background-color: #6d76f7;
				border-radius: 4px;
				transition: all 0.2s ease-out;
			}
		}
	}
}
