@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
body {
	font-family: "Roboto", sans-serif;
}
.content {
	padding: 20px;
	height: calc(100vh - 400px - 73px);
}
