.container {
	padding: 80px 60px;
	background: radial-gradient(
		circle,
		rgba(92, 39, 251, 1) 0%,
		rgba(112, 71, 247, 1) 100%
	);
	@media (max-width: 1000px) {
		padding: 70px 30px;
	}
	.wrapper {
		display: flex;
		flex-direction: column;
		justify-content: center;
		max-width: 1000px;
		margin: 0 auto;
	}
	.column {
		display: flex;
		flex-direction: column;
		text-align: left;
		margin-left: 60px;
	}
	.row {
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
		grid-gap: 20px;
		@media (max-width: 1000px) {
			grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
		}
	}
	.link {
		color: #fff;
		margin-bottom: 18px;
		font-size: 18px;
		text-decoration: none;
		cursor: pointer;
		&:hover {
			color: #ff9c00;
			transition: 200ms ease-in;
		}
		svg {
			font-size: 18px;
			margin-right: 16px;
		}
	}
	.title {
		font-size: 24px;
		color: #fff;
		margin-bottom: 40px;
		font-weight: bold;
	}
}
